
@{
    ViewBag.Title = "Error";
}

<h2>Ошибка записи!</h2>
<br />
<p><big>Проверьте корректность вводимых данных и убедитесь, что оборудования с введенным инвентарным номером не существует</big></p>
<p> @Html.ActionLink("Вернуться в меню", "Index", "Home", null, null) </p>