@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Учет приборов</h1>
    
</div>


    <div class="container">
        <div class="navbar-header">
            <form method="get" action="AddDevice">
                <p><input type="submit" value="Добавить прибор" /></p>
            </form>
            <form method="get" action="ListDevices">
                <p><input type="submit" value="Карточки приборов" /></p>
            </form>
            <form method="get" action="ListTypeAndModelDevices">
                <p><input type="submit" value="Типы и модели приборов" /></p>
            </form>

        </div>

    </div>
